## 1. 인구 피라미드

### 남자 데이터 정의

In [9]:
import pandas as pd
df_m = pd.read_excel('201108_201108_연령별인구현황_월간.xlsx', skiprows=3, index_col='행정기관', usecols='B,E:Y')
df_m.head(3)

c:\Python39\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"1,195,951","1,233,465","1,663,534","1,890,498","1,667,705","1,844,651","2,048,038","2,178,901","2,335,456","2,165,327",...,"1,556,649","1,129,517","883,074","701,439","419,877","186,554","75,904","22,020","4,651","2,607"
서울특별시,"217,685","215,881","290,064","349,753","335,868","435,347","474,347","461,401","459,759","413,538",...,"326,028","241,501","190,131","134,312","70,398","30,893","13,028","4,530","1,163",884
부산광역시,"67,247","70,521","103,201","130,774","122,276","130,924","137,943","136,378","148,501","146,523",...,"134,265","99,030","73,472","53,357","28,437","11,595","4,193","1,083",253,223

In [10]:
df_m.iloc[0] = df_m.iloc[0].str.replace(',','').astype(int)  # 1,195,951 => 1195951 (정수형)

In [11]:
df_m.iloc[0]

0~4세       1195951
5~9세       1233465
10~14세     1663534
15~19세     1890498
20~24세     1667705
25~29세     1844651
30~34세     2048038
35~39세     2178901
40~44세     2335456
45~49세     2165327
50~54세     2169808
55~59세     1556649
60~64세     1129517
65~69세      883074
70~74세      701439
75~79세      419877
80~84세      186554
85~89세       75904
90~94세       22020
95~99세        4651
100세 이상       2607
Name: 전국  , dtype: object

### 여자 데이터 정의

In [12]:
df_w = pd.read_excel('201108_201108_연령별인구현황_월간.xlsx', skiprows=3, index_col='행정기관', usecols='B,AB:AV')
df_w.head(3)

c:\Python39\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~4세.1,5~9세.1,10~14세.1,15~19세.1,20~24세.1,25~29세.1,30~34세.1,35~39세.1,40~44세.1,45~49세.1,...,55~59세.1,60~64세.1,65~69세.1,70~74세.1,75~79세.1,80~84세.1,85~89세.1,90~94세.1,95~99세.1,100세 이상.1
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"1,125,896","1,141,102","1,524,143","1,668,412","1,506,676","1,737,973","1,963,094","2,092,175","2,257,824","2,052,553",...,"1,573,948","1,182,335","1,013,184","914,270","684,870","416,098","202,997","70,111","18,637","8,695"
서울특별시,"206,464","202,614","267,567","313,860","332,516","443,742","465,389","443,392","456,192","411,429",...,"351,421","260,202","203,512","155,548","105,525","65,965","33,779","12,649","3,830","2,610"
부산광역시,"63,778","65,415","92,033","110,761","109,446","123,502","131,583","132,796","151,565","150,899",...,"139,838","104,284","79,464","66,807","45,992","27,898","12,863","3,911","1,160",829

In [13]:
df_w.iloc[0] = df_w.iloc[0].str.replace(',','').astype(int)  # 1,195,951 => 1195951 (정수형)

In [14]:
df_w.iloc[0]

0~4세.1       1125896
5~9세.1       1141102
10~14세.1     1524143
15~19세.1     1668412
20~24세.1     1506676
25~29세.1     1737973
30~34세.1     1963094
35~39세.1     2092175
40~44세.1     2257824
45~49세.1     2052553
50~54세.1     2132120
55~59세.1     1573948
60~64세.1     1182335
65~69세.1     1013184
70~74세.1      914270
75~79세.1      684870
80~84세.1      416098
85~89세.1      202997
90~94세.1       70111
95~99세.1       18637
100세 이상.1       8695
Name: 전국  , dtype: object

In [15]:
df_m.columns

Index(['0~4세', '5~9세', '10~14세', '15~19세', '20~24세', '25~29세', '30~34세',
       '35~39세', '40~44세', '45~49세', '50~54세', '55~59세', '60~64세', '65~69세',
       '70~74세', '75~79세', '80~84세', '85~89세', '90~94세', '95~99세', '100세 이상'],
      dtype='object')

In [16]:
df_w.columns

Index(['0~4세.1', '5~9세.1', '10~14세.1', '15~19세.1', '20~24세.1', '25~29세.1',
       '30~34세.1', '35~39세.1', '40~44세.1', '45~49세.1', '50~54세.1', '55~59세.1',
       '60~64세.1', '65~69세.1', '70~74세.1', '75~79세.1', '80~84세.1', '85~89세.1',
       '90~94세.1', '95~99세.1', '100세 이상.1'],
      dtype='object')

In [17]:
df_w.columns = df_m.columns  # columns 이름을 일치화 시킴

In [18]:
df_w.columns

Index(['0~4세', '5~9세', '10~14세', '15~19세', '20~24세', '25~29세', '30~34세',
       '35~39세', '40~44세', '45~49세', '50~54세', '55~59세', '60~64세', '65~69세',
       '70~74세', '75~79세', '80~84세', '85~89세', '90~94세', '95~99세', '100세 이상'],
      dtype='object')

In [19]:
df_w.iloc[0]

0~4세       1125896
5~9세       1141102
10~14세     1524143
15~19세     1668412
20~24세     1506676
25~29세     1737973
30~34세     1963094
35~39세     2092175
40~44세     2257824
45~49세     2052553
50~54세     2132120
55~59세     1573948
60~64세     1182335
65~69세     1013184
70~74세      914270
75~79세      684870
80~84세      416098
85~89세      202997
90~94세       70111
95~99세       18637
100세 이상       8695
Name: 전국  , dtype: object