In [1]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

myvar

0    1
1    7
2    2
dtype: int64

In [5]:
import pandas as pd

a = [[1,2], [3,7], [2,5]]

myvar = pd.DataFrame(a, index=['x','y','z'])

myvar

   0  1
x  1  2
y  3  7
z  2  5

In [2]:
import pandas as pd
url = ['icashier.alipay.com/catalog/2758186/detail.aspx', 
    'icashier.alipay.com/catalog/2758186/detail.aspx', 
    'icashier.alipay.com/catalog/2758186/detail.aspx', 
    'vk.com']

df = pd.DataFrame(url, columns = ['url'])
df

                                               url
0  icashier.alipay.com/catalog/2758186/detail.aspx
1  icashier.alipay.com/catalog/2758186/detail.aspx
2  icashier.alipay.com/catalog/2758186/detail.aspx
3                                           vk.com

In [3]:
df['url'] = df['url'].replace({'icashier.alipay.com': 'aliexpress.com'}, regex=True)
df

                                          url
0  aliexpress.com/catalog/2758186/detail.aspx
1  aliexpress.com/catalog/2758186/detail.aspx
2  aliexpress.com/catalog/2758186/detail.aspx
3                                      vk.com

In [4]:
df['url'] = df['url'].replace({'aliexpress.com': 'icashier.alipay.com'}, regex=True)
df

                                               url
0  icashier.alipay.com/catalog/2758186/detail.aspx
1  icashier.alipay.com/catalog/2758186/detail.aspx
2  icashier.alipay.com/catalog/2758186/detail.aspx
3                                           vk.com

In [6]:
df['url'] = df['url'].replace({'aliex': 'align'}, regex=True)
df

                                          url
0  alignpress.com/catalog/2758186/detail.aspx
1  alignpress.com/catalog/2758186/detail.aspx
2  alignpress.com/catalog/2758186/detail.aspx
3                                      vk.com

In [7]:
df['url'] = df['url'].replace({'align': 'ali'}, regex=True)
df

                                        url
0  alipress.com/catalog/2758186/detail.aspx
1  alipress.com/catalog/2758186/detail.aspx
2  alipress.com/catalog/2758186/detail.aspx
3                                    vk.com

In [10]:
df['add'] = [1,2,3,4]
df

                                        url  add
0  alipress.com/catalog/2758186/detail.aspx    1
1  alipress.com/catalog/2758186/detail.aspx    2
2  alipress.com/catalog/2758186/detail.aspx    3
3                                    vk.com    4

In [11]:
df['url'] = df['url'].replace({'ali': 'align'}, regex=True)
df

                                          url  add
0  alignpress.com/catalog/2758186/detail.aspx    1
1  alignpress.com/catalog/2758186/detail.aspx    2
2  alignpress.com/catalog/2758186/detail.aspx    3
3                                      vk.com    4